export OPEN_AI_API_KEY=your_api_key
export OPEN_AI_MAX_TOKENS=1500
export OPEN_AI_TEMPERATURE=0.2
export OPEN_AI_API_URL=https://api.openai.com/v1
export OPEN_AI_MODEL=davinci-instruct-beta

[ -f .envrc.custom ] && source .envrc.custom